.additional-goods {
  padding: 20px;

  font-family: $ff-secondary;
  color: $color-text-secondary;

  background-color: $color-bg-light;
}

.additional-goods__title {
  width: 100%;

  font-family: $ff-primary;
  color: $color-text-primary;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional-goods__item {
  padding-bottom: 17px;
}

@media (min-width: $desktop-width) {
  .additional-goods {
    display: flex;
    flex-wrap: wrap;
  }

  .additional-goods .product__button {
    width: 30%;
  }

  .additional-goods__wrapper {
    width: 70%;
  }

  .additional-goods__bonus {
    width: 30%;
  }
}
