.additional-goods {
  padding: 20px;

  font-family: $ff-secondary;
  color: $color-text-secondary;

  background-color: $color-bg-light;
}

.additional-goods__title {
  font-family: $ff-primary;
  color: $color-text-primary;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional-goods__item {
  padding-bottom: 17px;
}
