.button {
  display: block;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  color: $color-text-tertiary;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $color-main;
}
