.catalog {
  padding: 20px;

  font-family: $ff-secondary;
  color: $color-text-secondary;

  background-color: $color-bg-light;
}

.catalog__title {
  width: 100%;

  font-family: $ff-primary;
  color: $color-text-primary;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.catalog__items {
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__items {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .catalog__items {
    width: 25%;
  }
}
