.form {
  font-family: $ff-primary;

  &__title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
  }

  &__fieldset {
    padding: 20px 0;
    border: none;
  }

  &__legend {
    font-size: 24px;
    line-height: 24px;
    color: $color-text-primary;
  }

  &__textarea {
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__label,
  &__input {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__label {
    color: #222222;
    font-weight: normal;
  }

  &__input {
    color: $color-text-secondary;
  }
}
