.page-footer {
  font-family: $ff-secondary;
  color: $color-text-secondary;

  background-color: $color-bg-dark;

  .page-footer__logo {
    padding: 20px;
  }
}

.page-footer__contacts {
  display: flex;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer--main .page-footer__contacts {
  background-color: $color-bg-light;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
  }
}
