.product__title {
  font-family: $ff-primary;
  color: $color-text-primary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.product__button {
  font-size: 16px;
  line-height: 20px;
}
