.showmore {
  padding: 20px;

  font-family: $ff-secondary;
  color: $color-text-secondary;
  text-align: center;

  background-color: $color-bg-light;
}

.showmore__title {
  font-family: $ff-primary;
  color: $color-text-primary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.showmore__text {
  font-size: 12px;
  line-height: 16px;
}

.showmore__button {
  color: $color-text-primary;

  background-color: $color-bg-dark;
}
