.usage {
  padding: 0 20px;

  font-family: $ff-secondary;
  color: $color-text-secondary;

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    margin-top: 20px;
    padding: 20px;

    background-color: $color-bg-dark;
  }

  &__title {
    font-family: $ff-primary;
    font-size: 24px;
    line-height: 37px;
    color: $color-text-primary;
    text-transform: uppercase;
    font-weight: normal;
  }

  &__description {
    font-size: 14px;
    line-height: 18px;
  }

  &__link {
    display: inline-block;

    font-family: $ff-primary;
    font-size: 16px;
    line-height: 16px;
    color: $color-text-primary;
    text-transform: uppercase;
    text-decoration: none;
  }
}
