@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/oswaldregular.woff") format("woff"), url("/fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/oswaldmeduim.woff") format("woff"), url("/fonts/oswaldmeduim.woff2") format("woff2");
}
