$ff-primary: "Oswald", Impact, sans-serif;
$ff-secondary: Arial, Helvetica, sans-serif;

$color-main: #68b738;
$color-text-primary: #111111;
$color-text-secondary: #444444;
$color-text-tertiary: #ffffff;
$color-bg-light: #ffffff;
$color-bg-dark: #f2f2f2;
